<style>
  .btn-search {
    background-color: #dc3545;
    color: #fff;
    border-radius: 25px;
    transition: 1s;
  }
  .btn-search:hover {
    background-color: #dc3545;
    color: #fff;
    transform: scale(1.05);
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
  .nav-link {
    transition: 1s;
    margin-left: 1rem;
  }
  .nav-link:hover {
    transform: scale(1.1);
    background: #f1f1f1;
    border-radius: 0.5rem;
  }
</style>
<nav
  class="navbar navbar-expand-md bg-body-light border-bottom sticky-top p-3 py-3"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <img src="/assets/soultrip.png" style="height: 2.5rem" alt="soultrip" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 search-input"
            type="search"
            placeholder="Search Destinations"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <%if(!currUser) {%>
        <a class="nav-link" href="/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <%}%> <%if(currUser) {%>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <%}%>
      </div>
    </div>
  </div>
</nav>
