<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>All Listings</h2>
    <form method="get" action="/listings/new">
        <button>Add new Listing</button>
    </form>
    <% for (let listing of listings) {%>
    <div class="row">
        <a href="/listings/<%=listing._id%>">
            <div class="card col-4" style="width: 18rem">
                <img src="<%=listing.image%>" class="card-img-top" style="height: 10rem;" alt="listing image" />
                <div class="card-body">
                    <p class="card-text">
                        <%= listing.title %>
                    </p>
                </div>
            </div>
        </a>
        </div>
    <%}%>
  </body>
</html>
