<% layout("layouts/boilerplate") -%>
<body>
    <div class="row mt-1">
        <div class="col-8 offset-2">
            <h3>Add new Listing</h3>
            <form  method="post" action="/listings" class="mt-3">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label> <!-- Basically here we use listing[title] so it means listing is object and it value is title means we pass as key:value pair -->
                    <input type="text" name="listing[title]" id="title" class="form-control" placeholder="Desert Oasis in Dubai, Heritage Hotel and Villa">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" id="description"  cols="50" rows="3" class="form-control" placeholder="Experience luxury in the middle of the desert in this opulent oasis in Dubai with a private pool."></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" name="listing[image]" id="image" class="form-control" placeholder="Enter URL of Image"> 
                </div>
                <div class="row">
                    <div class="mb-3 col-sm-6">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="listing[price]" id="price" class="form-control" placeholder="&#8377; 5,000">
                    </div>
                    <div class="mb-3 col-sm-6">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" id="location" class="form-control" placeholder="Dubai, Jaipur, Ujjain, Rajasthan">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" id="country" class="form-control" placeholder="United Arab Emirates, United States, India">
                </div>
                <div class="mb-4 mt-4">
                    <button class="btn btn-danger">Add new Listing</button>
                </div>
            </form>
        </div>
    </div>
</body>