<%layout("layouts/boilerplate")%>
<div class="row mt-1">
  <div class="col-md-6 offset-md-3">
    <h3>SignUp on SoulTrip</h3>
    <form
      method="post"
      action="/signup"
      class="mt-3 needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          placeholder="antony"
          required
        />
        <div class="valid-feedback">Username Looks Good!</div>
        <div class="invalid-feedback">Please Enter a valid Username</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          name="email"
          id="email"
          class="form-control"
          placeholder="antony@gmail.com"
          required
        />
        <div class="valid-feedback">Email Looks Good!</div>
        <div class="invalid-feedback">Please Enter a valid Email</div>
      </div>
      <div class="mb-3">
         <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
        <!-- <div class="valid-feedback">Username Looks Good!</div> -->
        <div class="invalid-feedback">Please Enter a Password</div>
      </div>
      <button class="btn btn-success">SignUp</button>
    </form>
  </div>
</div>
